<!DOCTYPE html>
<html>
<head>
    <title>Web Piano</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
</head>
<body>
<h1>키보드 피아노(Web Audio API)</h1>

<div class="piano">
    <div class="key" data-key="A">A</div>
    <div class="key" data-key="S">S</div>
    <div class="key" data-key="D">D</div>
    <div class="key" data-key="F">F</div>
    <div class="key" data-key="G">G</div>
    <div class="key" data-key="H">H</div>
    <div class="key" data-key="J">J</div>
    <div class="key" data-key="K">K</div>
    <div class="key" data-key="L">L</div>
</div>

<script th:src="@{/app.js}"></script>
</body>
</html>
