body {
    font-family: sans-serif;
    background: #222;
    color: white;
    text-align: center;

    /* 가운데 정렬을 위한 flex 레이아웃 */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    min-height: 100vh;
    margin: 0;
}

h1 {
    margin-top: 40px;
}


.piano {
    display: flex;
    gap: 10px;
    margin-top: 50px;
    color: #111111;
}

.key-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
}

.key {
    width: 60px;
    height: 200px;
    background: white;
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    user-select: none;
}

.key.active {
    /*키가 눌렸을 때 색상 변화*/
    background: orange;
}

#visualizer {
    margin-top: 40px;
    background: #111;
    border-radius: 10px;
}